.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10%;
    background-color: rgba(240, 240, 240, 0.6);
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    position: fixed;
    height: 60px;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
}

.navigation-bar .navbutton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s;
}

.navigation-bar .navbutton:hover {
    background-color: #e0e0e0;
}

.navigation-bar #navbutton-logo:hover {
    background-color: transparent;
    cursor: default;
}

.navigation-bar .navbutton img {
    object-fit: contain;
    height: 24px;
    width: 24px;
}

.navigation-bar .searchbar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px;
    flex-grow: 1;
}

.navigation-bar .searchbar .searchbox {
    font-size: 16px;
    outline: none;
    border: none;
    padding: 1px;
    flex-grow: 1;
    width: 100%;
}

.navigation-bar .searchbar #navbutton-search {
    background-color: white;
}

.navigation-bar .searchbar #navbutton-search:hover {
    background-color: #e0e0e0;
}